*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
}

.hero {
    width: 100vw;
    background: no-repeat url(images/desktop/image-hero.jpg);
    background-size: cover;
    color: #ffff;
}

ul, a {
    color: #ffff;
    text-decoration: none;
    list-style: none;
}

.nav-header {
    margin: 2em 4em 0 0;
}

nav > ul > li {
    padding-left: 1em;
}

header > h1 {
    width:25vw;
    font-size: 6.8rem;
    font-weight: 100;
    font-variant: small-caps;
    border: 1px solid #ffff;
    padding: 25px;
}

header {
    /* padding-left: 5vw;
    padding-bottom: 5vw; */
}
nav {
    display: flex;
    justify-content: flex-end;
}

nav > ul {
    display: flex;
    width: fit-content;
}

li {
    /* padding: .5vw; */
    flex-flow: row nowrap;
}